extends layout
block style
	link(rel='stylesheet', href='/stylesheets/style.css')
block content
	.col-sm-8
		table#customers
			thead
				tr
					th Name
					th Email
					th Joining Date
					th DOB
					th Gender
					th Status
					th Action
			tbody
				-  function dateFormat(date) { 
					- var date = new Date(date)
					- var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
					- var month = date.getMonth()+1
					- month = month < 10 ? '0' + month : month;
					- return day + '-' + month + '-' + date.getFullYear()
				- };
				- console.log("data")
				- console.log(data)
				each logs,logIndex in data
					- console.log("logs")
					- console.log(logs)
					tr
						td.ucFirst #{logs.name}
						td #{logs.email}
						td #{dateFormat(logs.joining_date)}
						td #{dateFormat(logs.dob)}
						td.ucFirst #{logs.gender}
						td.ucFirst #{logs.status}
						td 
							a(href="employment/edit/#{logs._id}") Edit
	.col-sm-4
		form#employeeformsubmit( action='/employment/ajax/save', data-redirecturl="/employment" method="post")
			div.form-group
				label Employee Name:
			div.form-group
				input#name.form-control(type='text', placeholder='First Last Name' name='name')
			div.form-group
				label Email:
			div.form-group
				input.form-control.auth-answer-field(type='email', name='email', placeholder='Email', , data-vaidation-rules={ required:true, validEmail: true })
			div.form-group
				label Password:
			div.form-group
				input.form-control.auth-answer-field(type='password', name='password', placeholder='Password')
			div.form-group
				label Joining Date:
			div.form-group
				input.form-control.auth-answer-field.datepicker(type='text', name='joining_date', placeholder="DD-MM-YYYY" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" title="Enter a date in this formart DD-MM-YYYY")
			div.form-group
				label DOB:
			div.form-group
				input.form-control.auth-answer-field.datepicker(type='text', name='dob', placeholder="DD-MM-YYYY" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" title="Enter a date in this formart DD-MM-YYYY")
			div.form-group
				label Gender:
			div.form-group
				div.col-sm-4.col-pd-0
					label.checkbox Male
						input#gender(type='radio', name='gender' value = 'male')
						span.checkmark
				div.col-sm-8
					label.checkbox Female
						input#gender(type='radio', name='gender' value = 'female')
						span.checkmark
			div.form-group
				label Status:
			div.form-group
				div.col-sm-4.col-pd-0
					label.checkbox Active
						input#status(type='radio', name='status' value = 'active')
						span.checkmark
				div.col-sm-8
					label.checkbox Inactive
						input#status(type='radio', name='status' value = 'inactive')
						span.checkmark
			button.btn.btn-primary.employmentFormsubmit(type='submit') Submit
block script
	script(src="/javascripts/commentsave.js")